body {
    margin: 0;
    padding: 0;
    background-color: #3b63d3;
}

header {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100px;          
    background-color: #3b63d3;
}

.juego {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
    padding: 20px;
    height: 70vh;  /* Asegura que el juego ocupe el 70% de la altura de la ventana */
}

.puntos, .chat {
    flex: 1; 
    padding: 20px;
    height: 100%;
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 8px;
}

.dibujo {
    width: 30%;
    flex: 2; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 100%;  /* Asegura que el contenedor de dibujo ocupe todo el espacio disponible */
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 8px;
}

canvas {
    border: 2px solid black;
    background-color: white;
    cursor: crosshair;
}

.chat-messages {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
